
.polaroid figure{
width:100%;
float:left;
position:relative;
margin:0.75em 1.5em;
padding: 0.375em 0.5em 0.625em 0.5em; 
-webkit-box-shadow: 0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
-moz-box-shadow: 0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
box-shadow: -0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
background: #eee6d8;
background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
-webkit-transform:rotate(-1deg);
-moz-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
transform: rotate(-1deg);
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
}
.polaroid figure:nth-child(even) {
-webkit-transform:rotate(2deg);
-moz-transform: rotate(2deg);
-o-transform: rotate(2deg);
-ms-transform: rotate(2deg);
transform: rotate(2deg);
-webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/
-webkit-box-shadow: 0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
-moz-box-shadow: 0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
box-shadow: -0.25em 0.25em 0.5em -0.25em rgba(0, 0, 0, .75);
}
.polaroid figure:before {
content: '';
display: block;
position: absolute;
left:0.25em;
top: -1em;
width: 4.6875em;
height: 1.5625em;
background-color: rgba(222,220,198,0.7);
-webkit-transform: rotate(-12deg);
-moz-transform: rotate(-12deg);
-o-transform: rotate(-12deg);
-ms-transform: rotate(-12deg);
}
.polaroid figure:nth-child(even):before {
left:150px;
top: -15px;
width: 55px;
height: 25px;
-webkit-transform: rotate(12deg);

.col-standings {
float: left;
}
.date {
font-size:0.9em;
font-style:italic;
}
.standings-venue {
float: left;
border-right: solid;
margin-right: 1em;
}
.col-standings div {
padding:0 1em;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #333333),
	color-stop(1, #000000)
);
background-image: -o-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -moz-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -webkit-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -ms-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: linear-gradient(to bottom, #333333 0%, #000000 100%);
}

.col-standings div:first-child{
font-weight:900;
font-varient:small-caps;
font-size:1.2em;
}

nav ul li{
float:left;
margin-right:1em;
}

.header-container, .footer-container, .main aside {
    background: #f00;
}

.header-container {
    border-bottom: #800;
}

.floatleft {
    float:left;
    margin:0 1em 1em 0;
}

nav{
	float:none;
	width:auto;
}

nav a{
	background:none;
	padding:0;
	width:auto;
	margin:0;
}

h2{
  background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left top,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet); 
      text-shadow: 1px 1px black;
    padding: 0.5em;
    padding-left: 2.5em;
    /* margin-left: 4em; */
    border-radius: 1em;
    text-indent: -2em;
	margin-top:1em;
}

.header-container {
    position: fixed;
    width: 100%;
}
#where, #when, #chips, #contact {
    padding-top: 0.5em;
}
