.date {
    font-size: 0.9em;
    font-style: italic
}
.standings {
    position: absolute;
    height: 100%
}
nav ul li {
    float: left;
    margin-right: 1em
}
.header-container,
.footer-container,
.main aside {
    background: #f00
}
.header-container {
    border-bottom: #800
}
.header-container a {
    color: #fff
}
.floatleft {
    float: left;
    margin: 0 1em 1em 0
}
nav {
    float: none;
    width: auto;
}
nav a {
    background: none;
    padding: 0;
    width: auto;
    margin: 0;
}
h2 {
    font-family: 'Just Another Hand', cursive;
    background: red;
    background: -webkit-linear-gradient(left top, red, orange, yellow, green, blue, indigo, violet);
    background: -o-linear-gradient(bottom right, red, orange, yellow, green, blue, indigo, violet);
    background: -moz-linear-gradient(bottom right, red, orange, yellow, green, blue, indigo, violet);
    background: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
    text-shadow: 1px 1px black;
    padding: 0.5em;
    padding-left: 2.5em;
    border-radius: 1em;
    text-indent: -2em;
    margin-top: 1em;
    display: inline-block;
}
.header-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#where,
#when,
#chips,
#contact {
    padding-top: 0.5em;
}
#navlogo {
    border-radius: 20%;
}
#navlogo.img-responsive {
    max-width: 80%;
}
@media (max-width: 991px) {
    #profile img {
        display: none;
    }
}
#profile img {
    padding: 0.5em;
    margin: 0 auto;
    border: 0.5em ridge rgba(238, 238, 238, 0.2);
}
#league {
    height:100%;
    position:absolute;
}
.statsColumnHeader {
    font-weight:900;
}

* {
    color:#fff;
    font-family: 'Mallanna', sans-serif;
}
.polaroid img {
    border: 0;
    width: 100%;
    height: 100%;
}
.fb_iframe_widget{
    width:100%;
    overflow: hidden;
}
h1{font-family: 'Lakki Reddy', cursive;}
td{
    padding-right: 0.5em;
}
iframe{
    display:inline-block;
    padding:1em;
}
