
.col-standings {
float: left;
}
.date {
font-size:0.9em;
font-style:italic;
}
.standings-venue {
float: left;
border-right: solid;
margin-right: 1em;
}
.col-standings div {
padding:0 1em;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #333333),
	color-stop(1, #000000)
);
background-image: -o-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -moz-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -webkit-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: -ms-linear-gradient(bottom, #333333 0%, #000000 100%);
background-image: linear-gradient(to bottom, #333333 0%, #000000 100%);
}

.col-standings div:first-child{
font-weight:900;
font-varient:small-caps;
font-size:1.2em;
}

nav ul li{
float:left;
margin-right:1em;
}

.header-container, .footer-container, .main aside {
    background: #f00;
}

.header-container {
    border-bottom: #800;
}

.floatleft {
    float:left;
    margin:0 1em 1em 0;
}

nav{
	float:none;
	width:auto;
}

nav a{
	background:none;
	padding:0;
	width:auto;
	margin:0;
}

h2{
  background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left top,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right,red,orange,yellow,green,blue,indigo,violet);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right,red,orange,yellow,green,blue,indigo,violet);
  /* Standard syntax */
  background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet); 
      text-shadow: 1px 1px black;
    padding: 0.5em;
    padding-left: 2.5em;
    /* margin-left: 4em; */
    border-radius: 1em;
    text-indent: -2em;
	margin-top:1em;
}

.header-container {
    position: fixed;
	bottom:0;
    width: 100%;
}
#where, #when, #chips, #contact {
    padding-top: 0.5em;
}
